@each $size, $size-value in $sl-spacings {
  //PADDINGS
  .sl-pl--#{$size} {
    padding-left: $size-value !important;
  }

  .sl-pr--#{$size} {
    padding-right: $size-value !important;
  }

  .sl-pt--#{$size} {
    padding-top: $size-value !important;
  }

  .sl-pb--#{$size} {
    padding-bottom: $size-value !important;
  }

  .sl-pv--#{$size} {
    padding-top: $size-value !important;
    padding-bottom: $size-value !important;
  }

  .sl-ph--#{$size} {
    padding-right: $size-value !important;
    padding-left: $size-value !important;
  }

  .sl-pa--#{$size} {
    padding: $size-value !important;
  }

  //MARGINS
  .sl-ml--#{$size} {
    margin-left: $size-value !important;
  }

  .sl-mr--#{$size} {
    margin-right: $size-value !important;
  }

  .sl-mt--#{$size} {
    margin-top: $size-value !important;
  }

  .sl-mb--#{$size} {
    margin-bottom: $size-value !important;
  }

  .sl-mv--#{$size} {
    margin-top: $size-value !important;
    margin-bottom: $size-value !important;
  }

  .sl-mh--#{$size} {
    margin-right: $size-value !important;
    margin-left: $size-value !important;
  }

  .sl-ma--#{$size} {
    margin: $size-value !important;
  }
}
