.sl-fv--small-caps {
  font-variant: small-caps;
}

.sl-pointer {
  cursor: pointer;
}

.sl-text-left {
  text-align: left;
}

.sl-text-center {
  text-align: center;
}

.sl-text-right {
  text-align: right;
}

.sl-strikethrough {
  text-decoration: line-through;
}
