.sl-fv--small-caps {
  font-variant: small-caps;
}

.sl-pointer {
  cursor: pointer;
}

.sl-text-left {
  text-align: left;
}

.sl-text-center {
  text-align: center;
}

.sl-text-right {
  text-align: right;
}

.sl-strikethrough {
  text-decoration: line-through;
}

.sl-break-spaces {
  white-space: break-spaces !important;
}

.sl-mobile-table {
  max-height: 66vh;
  height: 66vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sl-pull-left {
  float: left;
}

.sl-pull-right {
  float: right;
}
